@import './variables';

.text-input-container {
  max-height: 50px;
  display: flex;
  flex-direction: column;
}

.text-input-container input {
  background-color: $background-color;
  min-height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}

